body{
	font-family: 'ComicNeue-Regular';
	font-size: 16px;
	color: #000;
}

.navbar{
	background-color: #999;
	border-radius: 0;
	border: 2px solid #000;
	color: #000;
}
	.navbar a h1{
		padding: 0;
		margin: 0;
		line-height: 1;
		font-weight: bold;
		color: #000;
	}

.navbar-brand {
    padding: 7px 15px;
}

.menu_item{
	background-color: #999;
	font-weight: bold;
}
.main_section h2{
	font-weight: bold;
}
.menu_item h3{
	font-weight: bold;
}

.navbar-default .navbar-nav>li>a {
    color: #000;
	font-weight: bold;
}
